.sidebar {
 height: 100%;
 width: 100%;
 background-color: gray;
 -webkit-transition: all 0.3s;
 transition: all 0.3s;
  ul {
     display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      li {
     margin-top: 25px;
     #closebtn{
      position: absolute;
      right: 30px;
      }

     a{
      text-decoration: none;
      color: gainsboro;
      font-size: 20px;
      margin-left: 50px;
      -webkit-transition: all o.3s;
      transition: all 0.3s;
     }
         
     a:hover {
        color: black;
       }
         
      
    }       
  

}        



}
.close {
    -webkit-transition: translate(o,-100px);
    transform: translate(0,-100px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}